---
title: FreshRSS Origins
template: serie
---

<p>
    FreshRSS a été le premier vrai programme sur lequel j’ai travaillé. Ce
    projet m’aura occupé d’octobre 2012 à mars 2015 (durant mes études pour
    devenir ingénieur) et continue encore aujourd’hui d’occuper un coin de ma
    tête. Si aujourd’hui je ne fais plus que maintenir le serveur, je continue
    de garder un œil sur ce qu’il se passe au sein de la communauté. Je reste
    d’ailleurs en lien avec <a href="https://f.a80.fr/profile/alkarex">Alkarex</a>
    qui maintient le gros du logiciel.
</p>

<p>
    Cette série retrace la genèse de cet agrégateur de flux <abbr>RSS</abbr>.
    Ces articles me parlent toujours autant, notamment celui annonçant la
    version 0.7 qui avait apporté énormément de choses (les performances qui
    écrasaient celles de TinyTinyRSS, le multi-utilisateurs, les systèmes de
    partage et une page de statistiques). En prenant un peu de recul toutefois,
    force est de constater que tout ce que je cherche dans ce type d’outil
    était déjà là dès la version 0.1 !
</p>

<p>
    Si je ne bosse plus dessus aujourd’hui, j’ai toujours ce petit espoir de
    replonger le nez dedans un de ces jours. Je me pose toutefois la question
    de comment faire évoluer ce genre d’applications : je suis de plus en plus
    attiré par les outils simples aussi bien dans leur fonctionnalités que dans
    leur architecture. Pour moi FreshRSS a dépassé la simplicité sur ces deux
    sujets, même si pas forcément de beaucoup. Comment le simplifier alors ?
</p>

<p>
    Si vous cherchez à en savoir plus, vous pouvez vous rendre sur le site
    officiel, <a href="https://freshrss.org/">freshrss.org</a>, et si vous
    cherchez à l’utiliser sans l’installer vous-même,
    <a href="https://app.flus.fr/collections/1698850762083905588">vous trouverez différents hébergeurs ici</a>.
</p>
