* {
	margin: 0;
	padding: 0;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	line-height: 170%;
}

#header {
	padding: 30px 50px;
	background: #3B5998;
}
	#header a.logo {
		display: inline-block;
		width: 20%;
		height: 50px;
		background: url("img/logo.png") top center no-repeat;
		color: transparent;
	}
	#header .login_form {
		display: inline-block;
		width: 80%;
		height: 50px;
		text-align: right;
	}
#little_header {
	padding: 5px 10px;
	background: #3B5998;
	position: fixed;
	width: 100%;
	box-shadow: 0 1px 3px #aaa;
}
	#little_header a.logo {
		display: inline-block;
		width: 10%;
		color: #fff;
		font-weight: bold;
	}
	#little_header .top {
		display: inline-block;
		width: 80%;
		color: #D8DFEA;
		text-align: right;
	}
		#little_header .top form {
			float: left;
			margin: 0 0 0 50px;
		}
			#little_header .top form input {
				width: 500px;
				font-size: 80%;
			}
		#little_header .top img {
			height: 32px;
			border-radius: 3px;
		}
		#little_header .top a {
			color: #D8DFEA;
			text-decoration: none !important;
		}

#content {
	min-height: 300px;
	padding: 30px 50px;
	background: #E7EBF2;
}
	#content.center {
		text-align: center;
	}
	#content.main {
		background: #fff;
		padding: 50px 0 0;
	}
	#content h2 {
		color: #333;
	}
	#content p {
		color: #666;
	}
	
	
	#col_left {
		display: table-cell;
		width: 25%;
		padding: 0 30px;
		border-right: 1px solid #aaa;
	}
		#col_left .profile {
			font-weight: bold;
		}
			#col_left .profile a {
				padding: 0 0 0 20px;
			}
	#flux {
		display: table-cell;
		width: 60%;
		padding: 0 30px;
	}
		#flux form input {
			width: 100%;
			border: 1px solid #aaa;
			padding: 5px 0;
			margin: 5px 0 20px;
		}
		
		#messages {
			border-top: 1px solid #aaa;
			padding: 20px 0;
		}
			#messages .message {
				border-bottom: 1px solid #eee;
				padding: 20px 0;
			}
				#messages .message img.avatar {
					vertical-align: top;
					width: 5%;
				}
				#messages .message div.mess_content {
					display: inline-block;
					font-size: 90%;
					width: 90%;
					padding: 0 0 0 5%;
					color: #333;
				}
					#messages .message div.mess_content .name {
						font-weight: bold;
					}
	#col_right {
		display: table-cell;
		padding: 0 30px;
	}

#footer {
	padding: 30px 50px;
	font-size: 80%;
	color: #aaa;
	text-align: center;
}

a {
	text-decoration: none;
	color: #3B5998;
}
	a:hover {
		text-decoration: underline;
	}

img {
	vertical-align: middle;
}
	img.avatar {
		border-radius: 3px;
	}

form input {
	border-radius: 0;
	border: 1px solid #000;
	background: #fff;
}
	form input[type="text"] {
		font-size: 90%;
		padding: 3px;
	}
		form input[type="text"]:focus {
			border: 1px solid #000 !important;
		}
	form input[type="submit"] {
		background-color: #5B74A8;
		background-image: url("https://s-static.ak.fbcdn.net/rsrc.php/v2/y3/x/Uy0S-JwLSOj.png");
		background-position: -1px -245px;
		background-repeat: no-repeat;
		border-color: #29447E #29447E #1A356E;
		color: #fff;
		font-weight: bold;
		font-size: 11pt;
		cursor: pointer;
		padding: 2px 5px;
	}
