---
title: Libres ?
template: serie
---

<p>
    Une courte série (pour l’instant) qui se propose d’aborder la question du
    logiciel libre sous un angle un poil plus politique que ce que l’on peut
    lire habituellement dans la sphère libriste. La liberté que les pionniers
    du libre ont souhaité nous offrir est-elle réellement au rendez-vous ? Le
    logiciel libre libère-t-il ? Je souhaitais en particulier faire des liens
    entre la technique et la liberté finale des utilisatrices et utilisateurs
    des logiciels.
</p>

<p>
    Je n’ai jamais vraiment fait décoller cette série, mais c’est pas faute de
    n’avoir rien à en dire ! Le premier article sert d’introduction, pour
    tenter d’expliquer comme on se retrouve au fond du chaudron du logiciel
    libre. Le deuxième dresse un portrait du monde numérique que je pourrais
    souhaiter et donne des pistes de conception. J’espère reprendre le sujet
    rapidement, en y faisant entrer notamment la notion de
    « basse-technologie » qui m’occupe actuellement, ainsi que celle
    d’émancipation. Tout un programme.
</p>
