---
title: Conception du site
template: serie
---

<p>
    Fin 2018, je quittais mon emploi avec l’objectif de travailler sur
    des projets qui me tiendraient à cœur. Ce départ était l’occasion
    pour moi de refaire mon site Internet pour le faire correspondre
    totalement à mes aspirations et me servir de vitrine pour des
    projets futurs.
</p>

<p>
    L’une de mes idées initiale était d’expliquer le cheminement de la
    création du site, du besoin initial à sa conception en passant par
    la définition de mes valeurs. J’ai donc partagé au fil de l’eau les
    différentes étapes qui ont mené au site sur lequel vous vous
    trouvez actuellement.
</p>

<p>
    Cette série d’articles explique mes motivations premières, en détaillant
    mes valeurs et raison d’être pour aller jusqu’à la rédaction du contenu.
    Une seconde série, plutôt technique, est axée sur <a href="le-boop-blog.html">la conception du générateur de sites statiques</a>
    à la base de ce site, <span lang="en">Boop!</span>
</p>

<p>
    Les fichiers du site lui-même sont disponibles <a href="https://framagit.org/marienfressinaud/marienfressinaud.fr">dans
    un dépôt Framagit</a>. Son contenu est placé sous licence libre
    <a lang="en" href="https://creativecommons.org/licenses/by/4.0/"><abbr title="Creative Commons">CC</abbr> BY 4.0</a>.
</p>
