---
title: Une histoire de pizzas, étape 7
template: game
---

<a href="../une-histoire-de-pizzas-7.html">Lire l’article associé</a>

<div id="app">
    <div class="steps">
        <div class="steps-title">Recette</div>

        <transition v-for="(step, index) in steps" :key="step.id">
            <div
                v-if="step.label"
                :class="['steps-item', { current: step.id === currentStep }]"
            >
                <div class="steps-item-index">{{ index + 1 }}</div>
                <div class="steps-item-label">{{ step.label }}</div>
            </div>
        </transition>
    </div>

    <div class="board">
        <div v-for="y in size" :key="y" class="board-line">
            <div v-for="x in size" :key="x" class="board-cell">
            </div>
        </div>

        <div
          v-for="entity in store"
          :key="entity.id"
          :class="['board-cell-entity', entity.id]"
          :style="entityPosition(entity)"
        >
            <img
                v-if="entity.asset"
                :src="entity.asset"
                alt=""
                class="entity-asset"
            />

            <img
                v-else-if="entity.assets"
                :src="entityAssetImage(entity)"
                alt=""
                class="entity-asset"
            />

            <div v-else-if="entity.label" class="entity-label">
                {{ entity.label }}
            </div>
        </div>

        <a href="#" @click="onBoardClick" class="board-click-zone"></a>
    </div>
</div>

<script>
    const BOARD_SIZE = 6;

    const CSS_CELL_SIZE = 128;

    const steps = [
        { id: 'STEP_ROLL_OUT_DOUGH', label: 'Étaler la pâte avec les doigts' },
        { id: 'STEP_GRAB_TOMATO', label: 'Aller chercher la sauce tomate sur l’étagère' },
        { id: 'STEP_SPREAD_TOMATO', label: 'Verser la sauce tomate sur la pizza' },
        { id: 'STEP_GRAB_MOZZA', label: 'Aller chercher la mozzarella dans le frigo' },
        { id: 'STEP_SPREAD_MOZZA', label: 'Disposer la mozzarella sur la sauce tomate' },
        { id: 'STEP_GRAB_PIZZA_1', label: 'Prendre la pizza' },
        { id: 'STEP_PUT_PIZZA_IN_OVEN', label: 'Mettre la pizza au four' },
        { id: 'STEP_BAKE_PIZZA', label: 'Cuire 5 secondes' },
        { id: 'STEP_GRAB_PIZZA_2', label: 'Prendre la pizza' },
        { id: 'STEP_DELIVER_PIZZA', label: 'Emporter la pizza jusqu’au passe-plat' },
        { id: 'STEP_FINISH' },
    ];

    let gameStore = [
        { id: 'currentStep', value: 'STEP_ROLL_OUT_DOUGH' },

        {
            id: 'meiko',
            label: 'Meiko',
            // Meiko va changer de "look" en fonction des actions, on ajoute
            // donc un nouveau composant pour le mémoriser
            look: 'normal',
            assets: {
                // On modifie notre composant "assets" pour indexer d’abord par
                // le look et on conserve le système de "direction"
                normal: {
                    bottom: 'assets/meiko-face.svg',
                    right: 'assets/meiko-droite.svg',
                    left: 'assets/meiko-gauche.svg',
                    top: 'assets/meiko-dos.svg',
                },
                mozza: {
                    bottom: 'assets/meiko-face-mozza.svg',
                    right: 'assets/meiko-droite-mozza.svg',
                    left: 'assets/meiko-gauche-mozza.svg',
                    top: 'assets/meiko-dos.svg',
                },
                sauce: {
                    bottom: 'assets/meiko-face-sauce.svg',
                    right: 'assets/meiko-droite-sauce.svg',
                    left: 'assets/meiko-gauche-sauce.svg',
                    top: 'assets/meiko-dos.svg',
                },
                pizza: {
                    bottom: 'assets/meiko-face-pizza.svg',
                    right: 'assets/meiko-droite-pizza.svg',
                    left: 'assets/meiko-gauche-pizza.svg',
                    top: 'assets/meiko-dos.svg',
                },
            },
            size: { width: 1, height: 1 },
            position: { x: 3, y: 2 },
            direction: 'bottom',
            obstruct: true,
        },

        {
            id: 'mozza',
            label: 'Mozzarella',
            asset: 'assets/pot-mozzarella.svg',
            size: { width: 1, height: 1 },
            position: { x: 1, y: 3 },
        },
        {
            id: 'tomato',
            label: 'Sauce tomate',
            asset: 'assets/sauce-tomate.svg',
            size: { width: 1, height: 1 },
            position: { x: 2, y: 5 },
        },
        // Puis on fait la même chose avec la pizza (note : dans les articles
        // précédents, l'id était `dough`, j'ai modifié en `pizza` mais c'est
        // un détail)
        {
            id: 'pizza',
            label: 'Pâte à pizza',
            // la pizza aussi change de look au fur et à mesure de la partie,
            // mais pas de direction pour elle !
            look: 'doughBall',
            assets: {
                doughBall: 'assets/pate-pizza-boule.png',
                dough: 'assets/pate-pizza.svg',
                tomato: 'assets/pate-tomate.svg',
                mozza: 'assets/pizza.svg',
                profile: 'assets/pizza-plat.svg',
            },
            size: { width: 1, height: 1 },
            position: { x: 5, y: 3 },

            // Le nouveau composant exec qui permet de faire avancer le jeu !
            // La première action consiste à étaler la pâte, on a donc un seul
            // composant exec qui pointe vers l'action `rollOutDough`.
            exec: rollOutDough,
        },

        {
            id: 'oven',
            label: 'Four',
            asset: 'assets/four.svg',
            size: { width: 2, height: 1 },
            position: { x: 1, y: 0 },
            obstruct: true,
        },
        {
            id: 'hatch',
            label: 'Passe-plat',
            asset: 'assets/passeplat.svg',
            size: { width: 1, height: 1 },
            position: { x: 5, y: 0 },
            obstruct: true,
        },
        {
            id: 'fridge',
            label: 'Frigo',
            asset: 'assets/refrigirateur.svg',
            size: { width: 2, height: 2 },
            position: { x: 0, y: 2 },
            obstruct: true,
        },
        {
            id: 'workplan',
            label: 'Plan de travail',
            asset: 'assets/plan-travail.svg',
            size: { width: 1, height: 2 },
            position: { x: 5, y: 2 },
            obstruct: true,
        },
        {
            id: 'shelf',
            label: 'Étagère',
            asset: 'assets/etagere-horizontale.svg',
            size: { width: 4, height: 1 },
            position: { x: 2, y: 5 },
            obstruct: true,
        },
    ];

    const app = new Vue({
        el: '#app',
        data: {
            size: BOARD_SIZE,
            store: gameStore,
            steps,
        },

        methods: {
            entityPosition(entity) {
                if (entity.size == null || entity.position == null) {
                    return {};
                }

                return {
                    width: (entity.size.width * CSS_CELL_SIZE) + 'px',
                    height: (entity.size.height * CSS_CELL_SIZE) + 'px',
                    top: (entity.position.y * CSS_CELL_SIZE) + 'px',
                    left: (entity.position.x * CSS_CELL_SIZE) + 'px',
                };
            },

            // On modifie légèrement le rendu ici puisqu’on a fait évoluer le
            // composant "assets" pour fonctionner avec le nouveau composant
            // "look".
            entityAssetImage(entity) {
                if (entity.assets == null || entity.look == null) {
                    return '';
                }

                // on récupère l'asset correspondant au "look" actuel
                const asset = entity.assets[entity.look];
                if (entity.direction) {
                    // si l'entité a un composant direction, il faut encore
                    // piocher la bonne image
                    return asset[entity.direction];
                } else {
                    // sinon, on retourne la valeur telle quelle
                    return asset;
                }
            },

            onBoardClick(e) {
                this.store = onClickSystem(e, this.store);
            },
        },

        computed: {
            currentStep() {
                return getEntity(this.store, "currentStep").value;
            },
        },
    });

    function onClickSystem(e, store) {
        e.preventDefault();

        const x = Math.ceil(e.layerX / CSS_CELL_SIZE) - 1;
        const y = Math.ceil(e.layerY / CSS_CELL_SIZE) - 1;

        const position = { x, y };

        if (
            position.x < 0 ||
            position.x >= BOARD_SIZE ||
            position.y < 0 ||
            position.y >= BOARD_SIZE
        ) {
            return store;
        }

        const meiko = getEntity(store, 'meiko');
        if (!positionIsAccessibleFor(meiko, position)) {
            return store;
        }

        // Avant de bouger Meiko, on recherche les entités situées sur la case
        // cliquée : s'il en existe avec le composant "exec", alors on appelle
        // la fonction associée en lui passant le store et la position. La
        // fonction doit retourner un nouveau store mis à jour.
        let updatedStore = store;
        const entitiesAtPosition = searchEntitiesAt(updatedStore, position);
        entitiesAtPosition.forEach((entity) => {
            if (typeof entity.exec === 'function') {
                updatedStore = entity.exec(updatedStore, position);
            }
        });

        let direction = meiko.direction;
        if (position.x > meiko.position.x) { direction = 'right'; }
        else if (position.x < meiko.position.x) { direction = 'left'; }
        else if (position.y < meiko.position.y) { direction = 'top'; }
        else if (position.y > meiko.position.y) { direction = 'bottom'; }
        updatedStore = setEntityComponents(updatedStore, meiko.id, { direction });

        if (entitiesAtPosition.some((entity) => entity.obstruct)) {
            return updatedStore;
        }

        updatedStore = setEntityComponents(updatedStore, meiko.id, { position });

        return updatedStore;
    }

    function getEntity(store, id) {
        return store.find((entity) => entity.id === id) || null;
    }

    // On a désormais besoin de supprimer des entités du jeu. On ne garde
    // (`filter`) que les entités dont l'id est différent de celui passé en
    // argument.
    function removeEntity(store, id) {
        return store.filter((entity) => entity.id !== id);
    }

    function setEntityComponents(store, id, components) {
        return store.map((entity) => {
            if (entity.id !== id) {
                return entity;
            }
            return {
                ...entity,
                ...components,
            };
        });
    }

    function positionIsAccessibleFor(entity, position) {
        if (entity.position == null) {
            return false;
        }

        const diff_x = Math.abs(entity.position.x - position.x);
        const diff_y = Math.abs(entity.position.y - position.y);
        return (diff_x === 1 && diff_y === 0) || (diff_x === 0 && diff_y === 1);
    }

    function searchEntitiesAt(store, position) {
        return store.filter((entity) => {
            if (entity.position == null) {
                return false;
            }

            if (entity.size == null) {
                return (
                    entity.position.x === position.x &&
                    entity.position.y === position.y
                );
            }

            return getCoveredPositionsBy(entity).some((coveredPosition) => (
                coveredPosition.x === position.x &&
                coveredPosition.y === position.y
            ));
        });
    }

    function getCoveredPositionsBy(entity) {
        const coveredPositions = [];

        for (const w of Array(entity.size.width).keys()) {
            for (const h of Array(entity.size.height).keys()) {
                coveredPositions.push({
                    x: entity.position.x + w,
                    y: entity.position.y + h,
                });
            }
        }
        return coveredPositions;
    }

    // Ci-dessous, on retrouve toutes les actions qui vont faire avancer le
    // jeu. Ces actions sont associées à des entités via le composant "exec".
    // Lorsqu’on va cliquer sur une entités avec une action, on va vérifier si
    // elle possède ce composant et si oui, on appelle l’action.
    function rollOutDough(store) {
        let updatedStore = store;

        // on commence par mettre à jour l’étape actuelle
        updatedStore = setEntityComponents(updatedStore, 'currentStep', { value: 'STEP_GRAB_TOMATO' });

        // puis on "installe" un composant exec sur l'entité "tomato" puisque
        // c’est la prochaine destination de Meiko
        updatedStore = setEntityComponents(updatedStore, 'tomato', { exec: grabTomato });

        updatedStore = setEntityComponents(updatedStore, 'pizza', {
            // Meiko vient d’étaler la pâte, il faut changer le "look" de la
            // pizza
            look: 'dough',
            // comme on n’a plus rien à faire pour le moment sur la pizza, on
            // pense à enlever son composant "exec" (sinon Meiko pourra étaler
            // la pizza plusieurs fois de suite).
            exec: null,
        });

        // et finalement, on renvoie le nouveau store
        return updatedStore;
    }

    function grabTomato(store) {
        let updatedStore = store;

        // idem, on met à jour l’étape actuelle
        updatedStore = setEntityComponents(updatedStore, 'currentStep', { value: 'STEP_SPREAD_TOMATO' });

        // puis on ajoute un "exec" sur la pizza car l'action suivante porte
        // sur elle
        updatedStore = setEntityComponents(updatedStore, 'pizza', { exec: spreadTomato });

        // on change le look de Meiko qui porte maintenant le pot de tomate
        updatedStore = setEntityComponents(updatedStore, 'meiko', { look: 'sauce' });

        // et on enlève l'entité "tomato" car elle n'est plus présente sur le
        // plan de travail. On est d'accord que le pot de tomate est toujours
        // visible, mais on triche en l’intégrant visuellement à l'asset de
        // Meiko.
        updatedStore = removeEntity(updatedStore, 'tomato');
        return updatedStore;
    }

    function spreadTomato(store) {
        // and so on…
        let updatedStore = store;
        updatedStore = setEntityComponents(updatedStore, 'currentStep', { value: 'STEP_GRAB_MOZZA' });
        updatedStore = setEntityComponents(updatedStore, 'mozza', { exec: grabMozza });
        updatedStore = setEntityComponents(updatedStore, 'pizza', {
            look: 'tomato',
            exec: null,
        });
        updatedStore = setEntityComponents(updatedStore, 'meiko', { look: 'normal' });
        return updatedStore;
    }

    function grabMozza(store) {
        let updatedStore = store;
        updatedStore = setEntityComponents(updatedStore, 'currentStep', { value: 'STEP_SPREAD_MOZZA' });
        updatedStore = setEntityComponents(updatedStore, 'pizza', { exec: spreadMozza });
        updatedStore = removeEntity(updatedStore, 'mozza');
        updatedStore = setEntityComponents(updatedStore, 'meiko', { look: 'mozza' });
        return updatedStore;
    }

    function spreadMozza(store) {
        let updatedStore = store;
        updatedStore = setEntityComponents(updatedStore, 'currentStep', { value: 'STEP_GRAB_PIZZA_1' });
        updatedStore = setEntityComponents(updatedStore, 'pizza', {
            look: 'mozza',
            exec: grabUncookedPizza,
        });
        updatedStore = setEntityComponents(updatedStore, 'meiko', { look: 'normal' });
        return updatedStore;
    }

    function grabUncookedPizza(store) {
        let updatedStore = store;
        updatedStore = setEntityComponents(updatedStore, 'currentStep', { value: 'STEP_PUT_PIZZA_IN_OVEN' });
        updatedStore = setEntityComponents(updatedStore, 'oven', { exec: putPizzaInOven });
        // Ici on triche un peu. On ne veut plus afficher la pizza dans le jeu.
        // Dans la version initiale, je supprimais le composant et le recréait
        // plus tard. Ça se basait cependant sur un mécanisme que je n'ai pas
        // expliqué dans ma série d'articles, donc je dois faire différemment.
        // Ici, je vire simplement le "look" pour cacher la pizza.
        updatedStore = setEntityComponents(updatedStore, 'pizza', {
            look: null,
            exec: null,
        });
        updatedStore = setEntityComponents(updatedStore, 'meiko', { look: 'pizza' });
        return updatedStore;
    }

    function putPizzaInOven(store, position) {
        let updatedStore = store;
        updatedStore = setEntityComponents(updatedStore, 'currentStep', { value: 'STEP_GRAB_PIZZA_2' });
        updatedStore = setEntityComponents(updatedStore, 'oven', {
            exec: null,
        });
        // la suite de l'action précédente : on redonne un look à la pizza, et
        // on change sa position à l'emplacement qui vient d'être cliqué.
        updatedStore = setEntityComponents(updatedStore, 'pizza', {
            position,
            look: 'profile',

            // je triche encore ! Dans la version initiale on est sensé
            // attendre la cuisson de la pizza (5 secondes). Ça se base sur un
            // autre système que je n'ai pas expliqué dans la série d'articles,
            // donc je saute l'étape de la cuisson (STEP_BAKE_PIZZA). Peut-être
            // que j'en parlerai dans un article bonus parce que le mécanisme
            // est intéressant.
            exec: grabCookedPizza,
        });
        updatedStore = setEntityComponents(updatedStore, 'meiko', { look: 'normal' });
        return updatedStore;
    }

    function grabCookedPizza(store) {
        let updatedStore = store;
        updatedStore = setEntityComponents(updatedStore, 'currentStep', { value: 'STEP_DELIVER_PIZZA' });
        updatedStore = setEntityComponents(updatedStore, 'hatch', { exec: deliverPizza });
        updatedStore = setEntityComponents(updatedStore, 'pizza', {
            look: null,
            exec: null,
        });
        updatedStore = setEntityComponents(updatedStore, 'meiko', { look: 'pizza' });
        return updatedStore;
    }

    function deliverPizza(store, position) {
        let updatedStore = store;
        // et c'est la fin ! Remarquez qu'on vire le dernier "exec" sans en
        // rajouter un autre.
        updatedStore = setEntityComponents(updatedStore, 'currentStep', { value: 'STEP_FINISH' });
        updatedStore = setEntityComponents(updatedStore, 'hatch', { exec: null });
        updatedStore = setEntityComponents(updatedStore, 'pizza', {
            position,
            look: 'profile',
        });
        updatedStore = setEntityComponents(updatedStore, 'meiko', { look: 'normal' });
        return updatedStore;
    }
</script>

<style type="text/css">
    #app {
        --board-size: 6;
        --cell-size: 128px;

        --color-floor: #fff;
        --color-floor-border: #ccc;
    }

    * {
        box-sizing: border-box;
    }

    #app {
        display: flex;
        justify-content: center;
    }

    .board-line {
        display: flex;
    }

    .board-cell {
        width: var(--cell-size);
        height: var(--cell-size);

        background-color: var(--color-floor);
        border: 1px solid var(--color-floor-border);
    }

    .board {
        position: relative;
        width: calc(var(--board-size) * var(--cell-size));
    }
    .board-cell-entity {
        position: absolute;
    }

    .board-click-zone {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 100;
    }

    .board-cell-entity img {
        max-width: 100%;
    }

    .board-cell-entity.mozza img {
        max-width: 85%;
    }

    .board-cell-entity.pizza,
    .board-cell-entity.mozza,
    .board-cell-entity.tomato {
        z-index: 10;
    }

    .board-cell-entity.meiko {
        z-index: 20;
    }

    .steps {
        width: 30%;
        margin-right: 1rem;
        padding: .5rem 1rem;

        font-family: sans-serif;

        background-color: #eee;
        border-radius: .5rem;
    }

    .steps .steps-title {
        margin-bottom: 1rem;
        padding-bottom: .25rem;

        text-align: center;

        border-bottom: 1px solid #ccc;
    }

    .steps .steps-item {
        display: flex;
        padding: .25rem .5rem;

        align-items: baseline;

        color: #666;
        font-size: .8rem;

        border: .25rem solid transparent;
    }

    .steps .steps-item.current {
        color: #000;
        font-weight: bold;

        border-color: #00dbcb;
        border-radius: .5rem;
    }

    .steps .steps-item .steps-item-index {
        display: flex;
        width: 1.25rem;
        height: 1.25rem;
        margin-right: .25rem;

        flex-shrink: 0;
        align-items: center;
        justify-content: center;

        color: #fff;

        background-color: #666;
        border-radius: 50%;
    }

    .steps .steps-item.current .steps-item-index {
        color: #000;

        background-color: #00dbcb;
    }
</style>

<!-- \_o< \_o< \_o< \_o< \_o< \_o< \_o< \__o- -->
