---
title: Une histoire de pizzas, étape 4
template: game
---

<a href="../une-histoire-de-pizzas-4.html">Lire l’article associé</a>

<div id="app">
    <div class="board">
        <div v-for="y in size" :key="y" class="board-line">
            <div v-for="x in size" :key="x" class="board-cell">
            </div>
        </div>

        <div
          v-for="entity in store"
          :key="entity.id"
          :class="['board-cell-entity', entity.id]"
          :style="entityPosition(entity)"
        >
            <div v-if="entity.label" class="entity-label">
                {{ entity.label }}
            </div>
        </div>

        <a href="#" @click="onBoardClick" class="board-click-zone"></a>
    </div>
</div>

<script>
    const BOARD_SIZE = 6;

    const CSS_CELL_SIZE = 128;

    let gameStore = [
        {
            id: 'meiko',
            label: 'Meiko',
            size: { width: 1, height: 1 },
            position: { x: 3, y: 2 },
            obstruct: true,
        },

        {
            id: 'mozza',
            label: 'Mozzarella',
            size: { width: 1, height: 1 },
            position: { x: 1, y: 3 },
        },
        {
            id: 'tomato',
            label: 'Sauce tomate',
            size: { width: 1, height: 1 },
            position: { x: 2, y: 5 },
        },
        {
            id: 'dough',
            label: 'Pâte à pizza',
            size: { width: 1, height: 1 },
            position: { x: 5, y: 3 },
        },

        {
            id: 'oven',
            label: 'Four',
            size: { width: 2, height: 1 },
            position: { x: 1, y: 0 },
            obstruct: true,
        },
        {
            id: 'hatch',
            label: 'Passe-plat',
            size: { width: 1, height: 1 },
            position: { x: 5, y: 0 },
            obstruct: true,
        },
        {
            id: 'fridge',
            label: 'Frigo',
            size: { width: 2, height: 2 },
            position: { x: 0, y: 2 },
            obstruct: true,
        },
        {
            id: 'workplan',
            label: 'Plan de travail',
            size: { width: 1, height: 2 },
            position: { x: 5, y: 2 },
            obstruct: true,
        },
        {
            id: 'shelf',
            label: 'Étagère',
            size: { width: 4, height: 1 },
            position: { x: 2, y: 5 },
            obstruct: true,
        },
    ];

    const app = new Vue({
        el: '#app',
        data: {
            size: BOARD_SIZE,
            store: gameStore,
        },

        methods: {
            entityPosition(entity) {
                if (entity.size == null || entity.position == null) {
                    return {};
                }

                return {
                    width: (entity.size.width * CSS_CELL_SIZE) + 'px',
                    height: (entity.size.height * CSS_CELL_SIZE) + 'px',
                    top: (entity.position.y * CSS_CELL_SIZE) + 'px',
                    left: (entity.position.x * CSS_CELL_SIZE) + 'px',
                };
            },

            onBoardClick(e) {
                this.store = onClickSystem(e, this.store);
            },
        },
    });

    function onClickSystem(e, store) {
        e.preventDefault();

        const x = Math.ceil(e.layerX / CSS_CELL_SIZE) - 1;
        const y = Math.ceil(e.layerY / CSS_CELL_SIZE) - 1;

        const position = { x, y };

        // On vérifie que la position visée correspond bien à une case du jeu.
        // En théorie c'est toujours le cas (souvenez-vous la modification
        // faite en CSS dans l'article précédent), mais c'est bien de le
        // vérifier en JS aussi.
        if (
            position.x < 0 ||
            position.x >= BOARD_SIZE ||
            position.y < 0 ||
            position.y >= BOARD_SIZE
        ) {
            return store;
        }

        // On récupère notre entité Meiko. On a besoin de connaître sa position
        // pour vérifier que la case visée est accessible.
        const meiko = getEntity(store, 'meiko');

        // On teste que la position est bien accessible à Meiko grâce à une
        // fonction utilitaire. Si elle ne l'est pas, on retourne le store tel
        // quel.
        if (!positionIsAccessibleFor(meiko, position)) {
            return store;
        }

        // On récupère les entités présentes à la position donnée pour vérifier
        // qu'aucune n'est bloquante et empêche ainsi le déplacement.
        const entitiesAtPosition = searchEntitiesAt(store, position);

        // `some` retournera `true` si au moins une entité possède `obstruct` à
        // `true`.
        if (entitiesAtPosition.some((entity) => entity.obstruct)) {
            return store;
        }

        // Et enfin, on met à jour la position de Meiko dans le store. Le seul
        // changement par rapport à la dernière fois est qu'on utilise
        // `meiko.id` au lieu de `'meiko'`.
        let updatedStore = setEntityComponents(store, meiko.id, { position });

        return updatedStore;
    }

    function getEntity(store, id) {
        // Ici c'est un bête appel à une fonction JS (find) pour trouver notre
        // entité dans le store (qui est un tableau). Le `|| null` permet de
        // retourner null au lieu de undefined, simple coquetterie de ma part.
        return store.find((entity) => entity.id === id) || null;
    }

    function setEntityComponents(store, id, components) {
        return store.map((entity) => {
            if (entity.id !== id) {
                return entity;
            }
            return {
                ...entity,
                ...components,
            };
        });
    }

    function positionIsAccessibleFor(entity, position) {
        // Si l'entité passée en paramètre n'a pas de position, elle va
        // forcément pas avoir accès à la position donnée puisqu'elle n'est pas
        // présente dans notre tableau !
        if (entity.position == null) {
            return false;
        }

        // On fait la différence (en valeur absolue) de nos abscisses...
        const diff_x = Math.abs(entity.position.x - position.x);
        // ... de nos ordonnées...
        const diff_y = Math.abs(entity.position.y - position.y);
        // ... et on vérifie que seulement l'une des 2 différences est égale
        // à 1. On aurait aussi pu écrire ça `diff_x + diff_y === 1`, mais je
        // trouve ça un peu moins clair.
        return (diff_x === 1 && diff_y === 0) || (diff_x === 0 && diff_y === 1);
    }

    function searchEntitiesAt(store, position) {
        // On filtre ici les entités présentes à la position donnée en
        // argument. La difficulté réside dans le fait qu'une entité à une
        // taille et peut donc être présente sur plusieurs positions à la fois.
        return store.filter((entity) => {
            if (entity.position == null) {
                // Pas de position, pas de chocolat
                return false;
            }

            if (entity.size == null) {
                // si l'entité n'a pas de taille, on considère quand même
                // qu'elle a une présence de 1x1. On a juste à tester que les
                // positions sont égales. En pratique dans ce jeu, ce cas de
                // figure ne se présente pas.
                return (
                    entity.position.x === position.x &&
                    entity.position.y === position.y
                );
            }

            // getCoveredPositionsBy retourne l'ensemble des positions que
            // l'entité occupe, on vérifie juste que l'une de ces positions
            // correspond à la position recherchée.
            return getCoveredPositionsBy(entity).some((coveredPosition) => (
                coveredPosition.x === position.x &&
                coveredPosition.y === position.y
            ));
        });
    }

    function getCoveredPositionsBy(entity) {
        // Ici on collectionne les ~canards~ les positions prises par l’entité.
        const coveredPositions = [];

        // On itère sur l'intervalle entre 0 et la largeur exclue (ouais bon,
        // le code JS est pas hyper accueillant)
        for (const w of Array(entity.size.width).keys()) {
            // Puis sur l'intervalle entre 0 et la hauteur exclue
            for (const h of Array(entity.size.height).keys()) {
                // On a plus qu’à additionner les valeurs à x et y pour obtenir
                // une position occupée par l'entité
                coveredPositions.push({
                    x: entity.position.x + w,
                    y: entity.position.y + h,
                });
            }
        }
        return coveredPositions;
    }
</script>

<style type="text/css">
    #app {
        --board-size: 6;
        --cell-size: 128px;

        --color-floor: #fff;
        --color-floor-border: #ccc;
    }

    * {
        box-sizing: border-box;
    }

    .board-line {
        display: flex;
    }

    .board-cell {
        width: var(--cell-size);
        height: var(--cell-size);

        background-color: var(--color-floor);
        border: 1px solid var(--color-floor-border);
    }

    .board {
        position: relative;
        width: calc(var(--board-size) * var(--cell-size));
    }
    .board-cell-entity {
        position: absolute;
    }

    .board-click-zone {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 100;
    }

    .board-cell-entity.oven { background-color: #333; }
    .board-cell-entity.fridge { background-color: #666; }
    .board-cell-entity.workplan { background-color: #783f04; }
    .board-cell-entity.shelf { background-color: #000; }
    .board-cell-entity.hatch { background-color: #cf2a27; }

    .board-cell-entity .entity-label { color: #fff; }
    .board-cell-entity.shelf .entity-label { text-align: right; }

    .board-cell-entity.dough,
    .board-cell-entity.mozza,
    .board-cell-entity.tomato {
        z-index: 10;

        background-color: green;
    }

    .board-cell-entity.meiko {
        z-index: 20;

        background-color: #fff;
        border: 2px solid green;
    }
    .board-cell-entity.meiko .entity-label {
        color: initial;
    }
</style>

<!-- \_o< \_o< \_o< \_o< \_o< \_o< \_o< \__o- -->
