/* Section structure générale */
* {
    box-sizing: border-box;
}

:root {
    --main-color: #2a2230;
    --main-color-muted: #665e6c;
    --secondary-color: #c02b43;
    --link-color: #a6253a;
    --contrast-color: #f8f6ff;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    color: var(--main-color);
    font-family: serif;
    font-size: 18px;
    line-height: 1.4;

    background-color: var(--contrast-color);
}

@media(min-width: 40rem) {
    html {
        font-size: 24px;
    }
}

/* Section typographie */
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0.5rem;

  word-wrap: break-word;
}

h1 {
  margin-bottom: 1.75rem;
}

h1 { font-size: 2rem; line-height: 2.5rem; }
h2 { font-size: 1.5rem; line-height: 2rem; }
h3 { font-size: 1rem; line-height: 1.5rem; }

* + h1,
* + h2,
* + h3 {
  margin-top: 1.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
p:last-child {
  margin-bottom: 0;
}

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul:last-child,
ol:last-child,
dl:last-child {
  margin-bottom: 0;
}
p + ul,
p + ol,
p + dl,
p + table {
  margin-top: -.5rem;
}

code {
  padding: 0 .25rem;

  font-size: .9rem;

  border: 1px solid var(--main-color);
  border-radius: 3px;
}
code.color-primary {
  color: var(--contrast-color);
  background-color: var(--main-color);
}
code.color-primary-muted {
  color: var(--contrast-color);
  background-color: var(--main-color-muted);
}
code.color-secondary {
  color: var(--contrast-color);
  background-color: var(--secondary-color);
}
code.color-link {
  color: var(--contrast-color);
  background-color: var(--link-color);
}
code.color-contrast {
  color: var(--main-color);
  background-color: var(--contrast-color);
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: .5rem 1rem;

  overflow: auto;

  font-size: 0.9rem;
  color: var(--contrast-color);

  background-color: var(--main-color);
  border-top: 4px solid var(--secondary-color);
  border-bottom: 4px solid var(--secondary-color);
}
pre code {
  padding: 0;

  color: var(--contrast-color);

  background-color: transparent;
  border: none;
}

hr {
    width: 50%;
    margin: 2em 0;

    border: none;
    border-top: 4px solid var(--secondary-color);
}

@media(min-width: 50rem) {
    hr {
        width: 33%;
    }
}

.texte-secondaire {
    color: var(--main-color-muted);
}

/* Section images */
img {
    max-width: 100%;
}

/* Section liens */
a {
    color: var(--link-color);
}

/* Section conteneur */
.conteneur {
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.conteneur-texte p,
.conteneur-texte ul,
.conteneur-texte ol,
.conteneur-texte h1,
.conteneur-texte h2,
.conteneur-texte h3 {
    max-width: 35rem;
}

/* Section principale des pages */
.page > main {
    padding-top: 5rem;
    padding-bottom: 15rem;
}
