---
title: S’abonner au blog
blog: true
---

<main class="contenu-suivre-blog conteneur conteneur-texte">
    <h1>S’abonner au blog</h1>

    <p>
        Afin de suivre les publications <a href="blog.html">du blog</a>,
        plusieurs flux sont mis à disposition. Les adresses qui suivent peuvent
        être ajoutées dans un agrégateur de flux <abbr title="Really Simple Syndication">RSS</abbr>
        comme <a href="https://flus.fr">Flus</a> ou <a href="https://freshrss.org/">FreshRSS</a>.
    </p>

    <h2>Liste des flux</h2>

    <p>
        Flux des articles :<br />
        <code>https://marienfressinaud.fr/feeds/all.atom.xml</code>
    </p>

    <p>
        Chaque série dispose également de son propre flux :
    </p>

    <ul class="liste-flux">
        <li>Conception du site :<br /><code>https://marienfressinaud.fr/feeds/conception-du-site.atom.xml</code></li>
        <li>Ergogames, une histoire de pizzas : <br /><code>https://marienfressinaud.fr/feeds/ergogames.atom.xml</code></li>
        <li>FreshRSS Origins : <br /><code>https://marienfressinaud.fr/feeds/freshrss.atom.xml</code></li>
        <li>Le Boop! blog : <br /><code>https://marienfressinaud.fr/feeds/le-boop-blog.atom.xml</code></li>
        <li>Lessy’s more : <br /><code>https://marienfressinaud.fr/feeds/lessy.atom.xml</code></li>
        <li>Libres ? : <br /><code>https://marienfressinaud.fr/feeds/libres.atom.xml</code></li>
    </ul>

    <p>
        Je dispose également d’un flux dédié à <a href="https://app.flus.fr/p/1670839367044869607">ma veille sur Flus</a> :<br />
        <code>https://app.flus.fr/p/1670839367044869607/feed</code>
    </p>

    <h2>Le saviez-vous ?</h2>

    <p>
        Un flux <abbr>RSS</abbr> — ou Atom — est un fichier texte contenant
        la liste des articles d’un blog ou d’un site par exemple. Ce fichier
        peut être lu à intervalles réguliers par un programme qui agrège les
        articles de plusieurs flux. L’utilisateurice d’un agrégateur de flux
        est ainsi tenu‧e au courant de la publication de nouveaux articles sans
        avoir à ouvrir tous les sites qu’il ou elle suit.
    </p>

    <p>
        <a href="https://flus.fr/carnet/a-quoi-servent-les-flux.html">→ En apprendre davantage sur les flux</a>
    </p>
</main>
