---
title: Contact
template: index
---

<main class="contenu-contact conteneur conteneur-texte">
    <h1>Contact</h1>

    <p>
        Vous voulez me contacter ? Je privilégie le courriel aux autres moyens
        de communication. Vous pouvez m’écrire à cette adresse :
        <a class="u-email" rel="me" href="mailto:contact@marienfressinaud.fr">contact@marienfressinaud.fr</a>.
    </p>

    <p>
        Attention, je refuse tout type de démarchage commercial. Si vous êtes
        une entreprise, je ne vous donne pas mon accord pour stocker cette
        adresse et je ne souhaite pas que vous me contactiez pour me vendre un
        de vos produits ou services.
    </p>

    <p>
        <a href="index.html">Retourner à l’accueil</a>
    </p>
</main>
