<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>{{ ARTICLE_TITLE }} / {{ SITE_TITLE }}</title>
        <meta name="viewport" content="initial-scale=1.0" />
        <link rel="stylesheet" href="{{ SITE_URL }}style/herisson.css">
        <link rel="stylesheet" href="{{ SITE_URL }}style/pygments.css">
        {% if SITE_ENVIRONMENT != 'development' %}
            <script type="text/javascript" src="{{ SITE_URL }}scripts/turbolinks.5.2.0.min.js" defer async></script>
        {% endif %}
        <script type="text/javascript" src="{{ SITE_URL }}scripts/retour-en-haut.js" defer></script>
        <script type="text/javascript" src="{{ SITE_URL }}scripts/theme-changeur.js" defer></script>
    </head>

    <body class="page h-entry">
        <header>
            <div class="conteneur">
                <a class="accueil p-author h-card" rel="author" href="{{ SITE_URL }}index.html">{{ SITE_TITLE }}</a>
            </div>
        </header>

        <main class="contenu-article conteneur conteneur-texte">
            <article>
                <p class="article-meta">
                    <time class="dt-published" datetime="{{ datetime.strptime(ARTICLE_DATE, "%Y-%m-%d %H:%M") }}">
                        {{ datetime.strptime(ARTICLE_DATE, "%Y-%m-%d %H:%M").strftime("Le %d %B %Y") }}
                    </time>

                    {% set duration = round(len(ARTICLE_CONTENT.split(' ')) / 200) %}
                    {% if duration < 1 %}
                        (lecture : &lt; 1 minute)
                    {% elif duration == 1 %}
                        (lecture : 1 minute)
                    {% else %}
                        (lecture : {{ duration }} minutes)
                    {% endif %}

                    {% if ARTICLE_SERIE %}
                        — série&nbsp;: <a class="p-category" href="{{ ARTICLE_SERIE.url() }}">{{ ARTICLE_SERIE.title() }}</a>
                    {% endif %}
                </p>

                <h1 class="p-name">
                    <a class="u-url u-uid" href="">
                        {{ ARTICLE_TITLE }}
                    </a>
                </h1>

                <div class="e-content">
                    {{ ARTICLE_CONTENT }}
                </div>

                <p class="article-vers-blog">
                    {% if ARTICLE_SERIE %}
                        <a class="appel-a-action" href="{{ ARTICLE_SERIE.url() }}">Revenir à la série</a>
                    {% endif %}
                </p>
            </article>
        </main>

        <footer>
            <div class="conteneur">
                <p>
                    <a href="{{ SITE_URL }}mentions-legales.html">mentions légales</a>
                </p>

                <p>
                    <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> · <a href="https://framagit.org/marienfressinaud/marienfressinaud.fr/">code source</a> · <a href="https://framagit.org/marienfressinaud/boop">généré avec Boop!</a>
                </p>
            </div>

            <form id="theme-changeur">
                <label for="theme">Thème</label>
                <select id="theme" name="theme">
                    <option value="auto">Auto</option>
                    <option value="clair">Clair</option>
                    <option value="sombre">Sombre</option>
                </select>
            </form>
        </footer>

        <div id="la-haut" class="entrecoupant">
            <button>Remonter</button>
        </div>
    </body>
</html>
