<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0" />
        <link rel="stylesheet" href="{{ SITE_URL }}revealjs/reset.css">
        <link rel="stylesheet" href="{{ SITE_URL }}revealjs/reveal.css">
        {% if 'PAGE_STYLE' in globals() %}
            <link rel="stylesheet" href="{{ SITE_URL }}style/diapos/{{ PAGE_STYLE }}.css">
        {% else %}
            <link rel="stylesheet" href="{{ SITE_URL }}style/diapos/herisson.css">
        {% endif %}
        <title>{{ PAGE_TITLE }}</title>
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                {{ PAGE_CONTENT }}
            </div>
        </div>

        <script src="{{ SITE_URL }}revealjs/reveal.js"></script>
        <script>
            Reveal.initialize({
                controls: true,
                progress: true,
                center: true,
                hash: true,
            });
        </script>
    </body>
</html>
