<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0" />
        <meta name="turbolinks-visit-control" content="reload">
        <link rel="stylesheet" href="{{ SITE_URL }}style/game.css">
        {% if SITE_ENVIRONMENT == 'development' %}
            <script src="{{ SITE_URL }}scripts/vue.js"></script>
        {% else %}
            <script src="{{ SITE_URL }}scripts/vue.min.js"></script>
        {% endif %}
        <title>{{ PAGE_TITLE }}</title>
    </head>

    <body class="page">
        <h1>{{ PAGE_TITLE }}</h1>

        {{ PAGE_CONTENT }}
    </body>
</html>
